body{ 
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/025/946/841/small_2x/landscape-countryside-cartoon-scene-background-green-field-with-dirt-path-and-mountain-background-generative-ai-photo.jpg');background-repeat: no-repeat; background-size:cover;
  font-style: italic;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-image: image();
 text-align: center;
 background-attachment: fixed;
}
